.search {
  background-color: var(--colors-ui-base);
  padding: 16px 32px;
  display: flex;
  align-items: center;

  border-radius: var(--radii);
  box-shadow: var(--shadow);
  width: 100%;
  margin-bottom: 16px;

  @media (min-width: 767px) {
    margin-bottom: 0;
    width: 280px;
  }
}

.input {
  margin-left: 32px;
  border: none;
  outline: none;
  color: var(--color-text);
  background-color: var(--colors-ui-base);
}
